<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jedras.filmy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="digUpMovie"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jedras.filmy.MovieDetailActivity"></activity>
        <activity android:name="com.jedras.filmy.SearchMoviesActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.jedras.filmy.FavouritesMoviesActivity" />
        <activity android:name="com.jedras.filmy.NowPlayingMoviesActivity" />
        <activity android:name="com.jedras.filmy.TopRatedMoviesActivity" />
        <activity android:name="com.jedras.filmy.UpcomingMoviesActivity" />
        <activity android:name="com.jedras.filmy.RecommendedMoviesActivity" />
        <activity android:name="com.jedras.filmy.GenresActivity" />
        <activity android:name="com.jedras.filmy.GenresDetailActivity" />




        <activity android:name="com.jedras.filmy.PopularMoviesActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>